{% extends "bases.html" %}
{% block title %}ONLINE{% endblock %}
{% set csses = (
'css/index.css',
) %}

{% block script %}
	<script type="text/html" id="information" class="template">
		<div class="col-md-12 login_main">
			<div class="col-md-6">
				<img class="left_img" src="/media/img/logo.png">
			</div>
			<div class="col-md-3">
				<form action="login/" method="post">
					<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
					<label>
						<span>UserName:</span>
						<input type="text" name="username" class="form-control"></label>
					<label>
					<lable>
						<span>PassWord:</span>
						<input type="password" class="form-control" name="password">
					</lable>
					<button type="submit">Login</button>
				</form>
			</div>
		</div>
	</script>
{% endblock %}

{% set scripts = (
'js/index.js',
)
%}